body {
  font-family: Helvetica, Arial, sans-serif;
}

h1, div {
  text-align: center;
}

i {
  font-size: 100px;
}

.score {
  transition: opacity 0.3s;
}

.draw {
  color: orange;
}
.win {
  color: green;
}
.lose {
  color: red;
}

#player i {
  cursor: pointer;
}

