/* * {
  border: 1px solid red;
} */
body {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  margin: 0;
}
h1 {
  display: flex;
  line-height: 3rem;
  height: 25vh;
  margin: 0;
  align-items: center;
  justify-content: center;
}
h1, div {
  text-align: center;
}

h2 {
  margin: 0 0 1rem 0;
}

p {
  margin: 1rem 0 0.5rem 0;
}

i {
  font-size: 6rem;
  padding: 1rem;
}

select {
  cursor: pointer;
  font-size: 0.8rem;
  text-align: center;
  text-align-last: center;
}

select:focus {
  outline: none;
}

.container {
  height: 100vh;
  padding: 0 30vh;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div .title {
  display: flex;
  justify-content: space-around;
  align-content: center;
  order: 2;
  height: 50vh;
  width: 25vh;
}

.score.computer {
  order: 3;
}
.score.player {
  order: 1;
}

.score {
  color: #292C2F;
  width: 10rem;
  font-size: 8rem;
  transition: opacity 0.3s;
}

.draw {
  color: orange;
}
.win {
  color: green;
}
.lose {
  color: red;
}

#computer {
  order: 4;
}

#player i {
  cursor: pointer;
}

#resetButton {
  color: #292C2F;
  cursor: pointer;
  padding: 0.5em;
  margin-top: 3rem;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#resetButton:hover {
  border: 1px solid #dddddd;
  background-color: #f0f0f0;
}
#resetButton:focus {
  outline: none;
}
#resetButton:active {
  transform: translateY(2px);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}